<div class="homepage-container">
    <app-menu></app-menu>
    <div class="main-content">
        <div class="index-form">
            <h1>Welcome to amazing world!</h1>
            <p class="text">
                Do you want to
            </p>
            <div class="user-buttons">
                <button mat-button>Log in</button>
                <button mat-button>Sign in</button>
            </div>
            <p class="text">
                or
            </p>
            <button mat-button>Stay anonymous</button>
        </div>
    </div>
</div>