@import '../../../../globalStyles/colors';

.game {
    height: 80px;
    padding: 10px 20px;
    display: flex;
    border: 1px solid grey;
    border-radius: 10px;
    align-items: flex-start;
    max-width: 100%;
    margin-bottom: 5px;
    box-shadow: 0 0 2px 0 grey;
    cursor: pointer;
    background: $bg-color;
    outline: none;

    .game-about {
        line-height: 20px;
        width: 100%;
        height: 100%;
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .game-name {
            width: 100%;
            font-size: 24px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding: 8px 0;
        }

        .game-about-additional {
            display: flex;
            width: 100%;
            justify-content: space-between;

            .game-host-name {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                padding-right: 10px;
            }
            .game-players-count {
                white-space: nowrap;
            }
        }
    }
}
