<div class="game">
    <div class="game-about">
        <div class="game-name">The best gamqqqqqqqqqqqqqqqqe</div>
        <div class="game-about-additional">
            <div class="game-host-name">Game creator: Hosqqqqqqqqqqqame</div>
            <div class="game-players-count">3 players</div>
        </div>
    </div>
    <div class="game-controls">
        <div class="join-game">
            <button mat-button class="join-game-button">Join</button>
        </div>
        <div class="leave-game" hidden>
            <button mat-button class="leave-game-button">Leave</button>
        </div>
    </div>
</div>
