<app-menu></app-menu>
<div class="container">
    <div class="info">
        <div class="games-list-heading">Available games</div>
        <div class="games-list" [class.no-controls]="!activeGames.length" [perfectScrollbar]>
            <app-games-list [games]="activeGames"></app-games-list>
            <div class="no-games" *ngIf="!activeGames.length">
                <div class="notification">No games found</div>
                <button mat-button class="create-button" (click)="createGame()">Create</button>
            </div>
        </div>
        <div class="controls" *ngIf="activeGames.length">
            <button mat-button class="button" (click)="createGame()">Create</button>
            <button mat-button class="button" (click)="refresh()">Refresh</button>
            <button mat-button class="button">Quick search</button>
        </div>
    </div>
    <div class="game-details">
        <router-outlet></router-outlet>
    </div>
</div>
