<div class="container">
    <div class="games-list">
        <app-game-list-detail></app-game-list-detail>
        <app-game-list-detail></app-game-list-detail>
        <app-game-list-detail></app-game-list-detail>
        <app-game-list-detail></app-game-list-detail>
        <app-game-list-detail></app-game-list-detail>
        <app-game-list-detail></app-game-list-detail>
        <app-game-list-detail></app-game-list-detail>
        <app-game-list-detail></app-game-list-detail>
        <app-game-list-detail></app-game-list-detail>
        <app-game-list-detail></app-game-list-detail>
        <app-game-list-detail></app-game-list-detail>
        <app-game-list-detail></app-game-list-detail>
    </div>
</div>
